.nav-bg{
    background-color:#2d3e50 ;
}
.avatar-container{
  background-color:#f08388f5 ;
}
.page-section-heading{
    font-size: 2rem;
    
}

.about-container{
    background-color: #f08388f5;
}

.footer-container{
    background-color: #2d3e50;
}
.tiklama{
    color: #f08388f5 !important;
}
a:hover{
    color: #6dee11f5 !important;
}